@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 1px;
  --speed: 500ms;
}
html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  height: 100%;
}
#root {
  height: 100%;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  grid-area: header;
  background-color: #061029;
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 117rem;
  margin: 0px auto;
  padding: 0 1.5rem;
}
.menu-icons {
  color: #eee;
  font-size: 4rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.fas {
  justify-content: space-between;
}
.logo {
  width: 6.9em;
  height: 6.9rem;
  background-color: #eb3007;
  display: flex;
  border-radius: 100%;
  margin-right: 5rem;
}
.logo i {
  margin: auto;
  font-size: 3rem;
  color: #eee;
}
.nav-list {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-list li {
  line-height: 8rem;
  position: relative;
}
.sub-menu li {
  line-height: 4rem;
}
.nav-list a {
  display: block;
  color: #eee;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}
.select-dropdown {
  transform: scaleY(0);
}
.show {
  transform: scaleY(1);
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.overlay > div {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem;
}
.overlay > div > * {
  margin: 2rem;
}

.nav-list a:hover {
  color: #eb3007;
}
.btn {
  padding: 1.3rem;
  display: inline-block;
  background-color: #24e5db;
  border: 2px #24e5db;
  border-radius: 5rem;
  transition: background-color 650ms;
}
.btn:hover {
  color: #24e5db;
  background-color: rgba(0, 0, 0, 0.2);
}
.sub-menu {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid #eb3007;
  background-color: #191919;
  z-index: 100;
  top: 16rem;
  transition: all 650ms ease;
  opacity: 0;
  visibility: hidden;
}
.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #eb3007;
}
.sub-menu .sub-menu::before {
  top: 0.9rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #eb3007;
}
.sub-menu .sub-menu {
  border-top: none;
  border-left: 3px solid #eb3007;
  top: 0;
  left: 160%;
}

.nav-list li:hover > .sub-menu {
  top: 8rem;
  opacity: 1;
  visibility: visible;
}
.sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%;
}
li.move-right {
  margin-left: auto auto 5 auto;
  margin: 1rem;
  line-height: initial;
}
@media screen and (max-width: 1120px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 103.8vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1;
  }
  .nav-list > li {
    line-height: 6rem;
  }
  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: #eb3007;
    margin-left: 1rem;
    max-height: 0;
  }
  .sub-menu::before {
    display: none;
  }
  .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }
  li.move-right {
    margin-right: auto;
    line-height: initial;
  }
  .menu-icons {
    display: block;
    z-index: 1000;
  }
  .ion-md-close {
    display: none;
    z-index: 15000;
  }
  nav.active .ion-md-close {
    display: block;
  }
  nav.active .ion-md-menu {
    display: none;
  }
  nav.active .nav-list {
    display: flex;
  }
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #061029;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}
.header-links a {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  font-size: 2rem;
}
.header-links {
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
}

.back {
  padding-bottom: 0rem;
  font-size: 1.7rem;
  margin: 0.9rem;
}
.back:hover {
  color: #ffffff;
}

/* Sidebar */
/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 50px;
  width: 303px;
  margin-left: 13.8rem;
  height: 100rem;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-right: 1.5rem;
  color: var(--text-color);
  overflow: hidden;
  margin-top: 1rem;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
  color: var(--text-color);
  height: 100rem;
}
.menu-down {
  width: 100%;
  color: var(--text-color);
  height: 100rem;
}
.menu-down-df {
  width: 100%;
  color: var(--text-color);
  height: 100rem;
}

.menu-item {
  color: var(--text-color);
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-it {
  height: 100rem;
}
.kategoriyalar {
  margin-top: 1rem;
  width: 2rem;
  margin-left: 4rem;
}
.menu-item .icon-button {
  margin-right: 1rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.region {
  margin-top: 0.5rem;
}
.menu-secondary-exit-active {
  transform: translateX(100%);
  transition: all var(--speed) ease;
}
.menu-third-enter {
  transform: translateX(110%);
}
.menu-third-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-third-exit {
  position: absolute;
}
.menu-third-exit-active {
  transform: translateX(100%);
  transition: all var(--speed) ease;
}
.menu-forth-enter {
  transform: translateX(110%);
}
.menu-forth-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-forth-exit {
  position: absolute;
}
.menu-forth-exit-active {
  transform: translateX(100%);
  transition: all var(--speed) ease;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.margin-bottom {
  margin-top: 2rem;
  font-size: 2rem;
}
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-31rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #24e5db;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/* Main Content */
.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.ads li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.ad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ad img {
  max-width: 37rem;
  max-height: 37rem;
}

.ad-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ad-price div,
.ad-price button {
  text-align: center;
  flex: 1;
}
.ad-price div {
  font-size: 2rem;
}
.autos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.autos li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.auto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.auto img {
  max-width: 37rem;
  max-height: 37rem;
}
.auto-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auto-price div,
.auto-price button {
  text-align: center;
  flex: 1;
}
.auto-price div {
  font-size: 2rem;
}

.color {
  color: #ca0606;
}
/* Product Details */
.details {
  margin: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
#featured {
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
}
.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  position: relative;
  display: flex;
  border: 2px solid black;
}
.thumbnail:hover {
  opacity: 1;
}
.active {
  opacity: 1;
}
#slide-wrapper {
  max-width: 500px;
  display: flex;
  align-items: center;
  position: sticky;
}
#img-container {
  z-index: 1;
  position: relative;
}
#lens::before {
  display: none;
}
#lens {
  z-index: 2;
  position: absolute;
  height: 600px;
  width: 300px;
  margin-left: 50rem;
  margin-top: 13rem;
  border: 2px solid black;
  background-repeat: no-repeat;
  cursor: none;
}

#slider {
  width: 440px;
  margin-top: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}
.details-image {
  flex: 0 10 60rem;
}
.image:hover {
  background-size: 175%;
}
.details-image img {
  max-width: 73rem;
  width: 100%;
}
.margin-top {
  margin-top: 1.5rem;
}
.margin-left {
  margin-left: 2rem;
}
.details-info {
  flex: 3 1 30rem;
  margin-left: 1rem;
}
.details-action {
  flex: 1 1 30rem;
}
.blue {
  color: #061029;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  padding: 3rem;
  margin-top: 15rem;
  margin: 5rem;
}
.details-description {
  font-family: Montserrat;
  font-size: 1.8rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  justify-content: center;
  text-align: center;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary:hover {
  color: #ffffff;
  background: #061029;
}
.button.primary {
  background-color: #ffffff;
}
.button.full {
  background: #061029;
  color: #ffffff;
}
.button.full:hover {
  background: #ffffff;
  color: #061029;
}
.button.secondary {
  background-color: #24e5db;
}
.text-center {
  text-align: center;
}
.post-ad {
  color: #061029;
  background: #ffffff;
  padding: 1.3rem;
  border-radius: 1;
}
.post-ad:hover {
  color: #ffffff;
  background: #061029;
}

/* forms */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}
/* Filter */
.filter {
  list-style-type: none;
  display: table;
  padding: 0;
  margin: 1rem auto;
  max-width: 60rem;
  justify-content: space-between;
  align-items: center;
}
.sort-by {
  width: 29.5rem;
}
.search {
  margin: 0.5rem auto;
}

.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.8rem;
}
.filter button {
  background-color: #f0c040;
}

.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
  color: #ffffff;
}

.categories a:hover {
  background: #ffffff;
  color: #000000;
}
/* Ads */

.ad-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-margined {
  margin: 1rem;
}
.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
/* alert */
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.big {
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
